__pycache__
GUI/__pycache__
GUI/BuscarPedido/__pycache__
GUI/EditarBooking/__pycache__
GUI/EditarCNTR/__pycache__
GUI/EditarViagem/__pycache__
GUI/MainWindow/__pycache__
pyinstallerCommand.txt
*.spec
build
dist
~$*